/* CUSTOM */

.bs-custom-nav-button {
  display: inline-block;
  padding: 30px 10px;
  font-size: 1.2em;
  letter-spacing: -0.5px;
  line-height: 1.3;
  text-align: center;
}

.bs-custom-nav-button.custom-divisors:before,
.bs-custom-nav-button.custom-divisors:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -12px;
  height: 100%;
}

.bg-bs-color-5 {
  background-color: #36827f !important;
}

#header.header-floating-icons .header-nav-main nav > ul > li > a.active:after {
  background: #e88873;
}

#header.header-floating-icons .header-nav-main nav > ul > li > a.active {
  background: #e88873 !important;
}

@media (max-width: 991px) {
  #header.header-floating-icons .header-nav-main nav > ul > li > a {
    font-size: 1.7em;
    margin: 0;
    padding: 15px;
    color: #1e1e1e !important;
    border-bottom-color: transparent;
  }
}

html #header.header-transparent .header-body.bg-dark .header-nav-main:before,
html
  #header.header-transparent
  .header-body.bg-color-dark
  .header-nav-main:before {
  background-color: #14213d;
}

#header .header-nav.header-nav-links nav > ul li:hover > a {
  color: #deb841 !important;
}

.bs-get-in-touch {
  background-image: url('./../img/bs-couverture-contact.jpg');
}
